[2017-03-14 15:27] natevecc opened #2 "Upgrade to latest testcontainers version"
The version of testcontainers this is using is behind by a few versions and I'd like to upgrade it to the most recent version. I'll try and do it on my own when I have some free time but any direction and guidance would be really appreciated.

[2017-03-14 15:37] dimafeng commented on #2
@natevecc Sorry for not updating the version for a while. I'll be able to do it later today.

If you would like to help me with it, you can do the following:
1) Update the version of TestConteiners in https://github.com/testcontainers/testcontainers-scala/blob/master/gradle.properties
2) Run `./gradlew clean -Pscala=2.11.8 test integrationTest` and `./gradlew clean -Pscala=2.12.1 test integrationT

[2017-03-14 17:25] natevecc commented on #2
Quick update: tests were initially failing because of this [bug](https://github.com/testcontainers/testcontainers-java/issues/293) which is caused by [this](https://github.com/docker-java/docker-java/issues/806). However once I manually pulled the images needed by the tests, commented out the offending config file, then ran the tests everything passed. I'll put up a PR for this soon.

[2017-03-14 21:23] #2 closed

[2017-03-14 21:29] dimafeng commented on #2
@natevecc thank you for your contribution. I'm going to release the new version soon.

[2017-05-25 15:33] rnehruDDUK opened #4 "Shading issue with javax"
Hi, I have pulled the following dependency with sbt successfully:
"com.dimafeng" % "testcontainers-scala_2.12" % "0.6.0",

However upon running my unit tests, I am seeing the following errors in compiling when trying to run my scalatest specs:

Error:scalac: Class org.testcontainers.shaded.javax.annotation.CheckForNull not found - continuing with a stub.

[2017-05-25 16:09] dimafeng commented on #4
Hi,
Could you please share a code snippet of the spec that can't be compiled?

[2017-05-26 09:10] rnehruDDUK commented on #4
Well I have just started playing around with the framework so far. Please find my example spec below.

I have just read the docs and switched to using
`"com.dimafeng" %% "testcontainers-scala" % "0.6.0" % "test"` as I am using Scala 2.11 and am still seeing the same issue.

`import java.sql.DriverManager

import com.dimafeng.testcontainers.{MySQLContainer, ForEachTestContainer}
import org.scalates

[2017-05-26 09:11] rnehruDDUK commented on #4
Also, is there a future roadmap for adding Postgres support for testcontainers-scala?

[2017-05-26 12:50] dimafeng commented on #4
@rnehruDDUK
It seems you also need to add "org.testcontainers" % "mysql" % "1.2.1" in order to use MySQLContainer.

---

This can be achieved by:
1) submitting a feature request to the [core project](https://github.com/testcontainers/testcontainers-java/issues)
2) using a generic container where you specify your own docker image (see [example](https://github.com/testcontainers/testcontainers-scala

[2017-05-26 19:31] rnorth commented on #4
Re Postgres, it's already in core...

[2017-05-26 19:33] dimafeng commented on #4
@rnorth thank you for the information. I'll take a look when I have free time.

[2017-06-01 14:18] i-am-the-slime opened #5 "Any love for specs2?"
We are using specs2 for our tests. Is it possible to use this library with it? Do you think we should try to bend the java version of testcontainers to our will?

[2017-06-01 14:31] dimafeng commented on #5
@i-am-the-slime you can use the `com.dimafeng.testcontainers.Container` trait and manage its lifecycle at your own code via `starting()`, `finished()`, etc. This approach should simplify usage of the testcontainers comparing to usage of the java version.

If you could manage to run it in your specs2 environment and share the code snippets, I would be able to add specs2 support to this project.

[2017-06-01 14:31] #4 closed

[2017-11-29 14:19] htch opened #8 "Explicit identifier in DockerComposeContainer constructor"
Is it an option to add support for these constructors?

https://github.com/testcontainers/testcontainers-java/blob/357d5752a134bc340b1054acedf2eb78f7f24e64/core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java#L86

[2017-11-29 14:24] dimafeng commented on #8
Hi @htch,
Yes, I'll take a look tonight. If you already have changes which need to be made, you can submit a pull request to speedup the process :)

[2017-11-30 05:14] dimafeng commented on #8
@htch
`def apply(composeFiles: Seq[File], exposedService: Map[String, Int] = Map())` - does it look like what you're looking for?

[2017-11-30 06:00] htch commented on #8
I suppose this is also useful, but I was thinking about `identifier` param in this constructor `public DockerComposeContainer(String identifier, File... composeFiles)`.

[2017-12-01 15:59] dimafeng commented on #8
Released in 0.10.0

[2017-12-01 15:59] #8 closed

[2017-12-08 22:45] zaharidichev opened #11 "Compilation problems when using GenericContainer"
@dimafeng

The moment I touch GenericContainer class I get the following errors:

[code]

Scala Version: 2.11.8
Sbt version: 0.13.8

Have tried changing scala and sbt versions without much success. This error really does not tell me much of what I need (e.g. where is this class needed at all ?). Is this some conflict with other libraries. For example is lombock's NonNull getting mixed up with find

[2017-12-08 22:47] dimafeng commented on #11
Hi @zaharidichev
I'll take a look tonight or tomorrow.

[2017-12-08 22:48] zaharidichev commented on #11
Thanks a lot. It really is causing me quite a lot of headache :(

[2017-12-09 02:13] dimafeng commented on #11
@zaharidichev could you please show the list of your dependencies and their versions?

[2017-12-10 13:18] zaharidichev commented on #11
@dimafeng Thanks for looking into that. Following is a list of the dependencies.

[code]

[2017-12-10 15:40] dimafeng commented on #11
@zaharidichev
I checked codebase of `org.testcontainers.testcontainers.1.4.3` and didn't find any usages of the `org.testcontainers.shaded.javax.annotation.CheckForNull` as well as there are no usages in testcontainers-scala.
Could you please try to switch to a DEBUG level of compilation logging? The answer may be there, we need to find out where that class is accessed from.

[2017-12-10 20:42] zaharidichev commented on #11
I did try setting:

`scalacOptions ++= Seq("-unchecked", "-feature", "-explaintypes", "-print-types")`

However that did not display any additional information. Quite strange

[2017-12-10 23:07] dimafeng commented on #11
I'll try to create an SBT project to reproduce the issue.

[2017-12-11 11:00] zaharidichev commented on #11
Right...
So @dimafeng running the compiler in verbose mode yields the following:

[code]

This is happening right before the class loader picks up `InspectContainerResponse`. Looking a bit further into that class, it looks like (an excerpt):

[code]

There is no such class `org.testcontainers.shaded.javax.annotation.CheckForNull` in the test containers jar on my classpath. For reference, I am curr

[2017-12-12 13:07] dimafeng commented on #11
@zaharidichev sorry for the late response. This is interesting.

@rnorth @bsideup do you guys know where `org.testcontainers.shaded.javax.annotation.CheckForNull` should come from?

[2017-12-12 13:40] bsideup commented on #11
@dimafeng I think I know where it comes from... Not related to testcontainers-scala, we need to fix that in testcontainers-core.

@zaharidichev thanks for reporting!

[2017-12-13 09:07] zaharidichev commented on #11
@bsideup Is there any estimation of when would that get fixed so I can pull in a snapshot at least. Alternatively I can give yo a hand and prepare a PR for it.

[2018-01-02 01:18] ljkr commented on #11
I have the same problem.
@zaharidichev, did you fixed or worked-around the issue on your side?

[2018-01-02 15:33] dimafeng commented on #11
@ljkr sorry to hear that. It seems that issue was fixed  in the latest version of `testcontainers-java`. I'll release a new version of testcontainers-scala with that fix later today.

[2018-01-02 18:22] dimafeng commented on #11
@ljkr @zaharidichev please try version 0.13.0

[2018-01-02 23:18] ljkr commented on #11
@dimafeng the same problem with 0.13.0

`org.testcontainers:testcontainers` does not contain dependency on `jsr-305` where `CheckForNull` comes from.

So adding `jsr-305` (see below) to the project should fix the issue.
[code]

[2018-01-19 07:08] LMnet opened #12 "Dependent containers"
I'm trying to use `ForAllTestContainer` trait to test my application. This app depends on PosgtreSQL. So, I'm doing something like this:
[code]
And when I start this I get an error:
[code]

What is the correct way to test dependent containers?

[2018-01-19 20:51] dimafeng commented on #12
Hi @LMnet,
The problem is that the Postgre container is not aware of the actual port that will be assigned outside the container thus it can't generate `jdbcUrl` - the Postgre container doesn't use fixed port bindings to let **testcontainers** start multiple instances of the container in parallel.

**How to solve this:**
1. Use `DockerComposeCintainer` and define both containers in the compose fil

[2018-01-20 06:15] LMnet commented on #12
Actually, I don't think that any of this 2 solutions is good enough:
1. docker-compose is, of course, a possible solution for some cases. But docker-compose doesn't support health checks or waiting strategies. There are some hacks, like wait-for-it.sh. But it hacks, not a proper solution.
2. Fixing a port or host is a solution too, but this solution deprives advantages of testcontainers. I like th

[2018-01-20 18:08] dimafeng commented on #12
Your example makes sense. I can try to come up with something lazy for `MultipleContainers`

[2018-01-22 01:00] dimafeng commented on #12
@LMnet
I've improved the `MultipleContainers` in this way:
[code]
I've added `com.dimafeng.testcontainers.LazyContainer` that prevents premature access to `pgContainer`'s data unless it's started.

Does it cover your case? Any suggestions on this approach?

---
For Everyone's Information, I've also changed the type of `MultipleContainers.containers` to `shapeless.HList` so that, in order to access

[2018-01-22 11:22] LMnet commented on #12
@dimafeng Maybe I'm missing something, but:
[code]

Also, are you sure about shapeless? It is a pretty heavy dependency.

Here is my current full solution:
[code]

As you can see from the code, I faced another problem - `pgContainer.jdbcUrl` works only from the test code, not between containers. There is an [issue about this in testcontainers-java](https://github.com/testcontainers/testcontainers-

[2018-01-22 13:25] dimafeng commented on #12
I gave a wrong example - missed `lazy`. I meant this:

[code]
`LazyContainer` has the following signature

[code]
 so the example above should work fine.

You can take a look at tests:
https://github.com/testcontainers/testcontainers-scala/blob/b5eed02b7477bdb2331cadfc58265634d823ea03/src/test/scala/com/dimafeng/testcontainers/MultipleContainersSpec.scala

[2018-01-22 13:43] dimafeng commented on #12
@LMnet Just to clarify - the example that you showed:
[code]
Does it work as expected?

[2018-01-23 02:57] LMnet commented on #12
@dimafeng Conceptually it works. But later I sent example with `TestContainersSupport` - this is the full and workable code.

[2018-02-03 16:04] dimafeng commented on #11
@ljkr @zaharidichev should be fixed in testcontainers-scala 0.14.0, please try - https://github.com/testcontainers/testcontainers-java/pull/563 was released in testcontainers-java 1.6.0

[2018-02-03 16:04] #11 closed

[2018-03-01 11:06] ildac commented on #12
I had a similar issue as @LMnet, solved with some lazy val around the code, didn't know about the LazyContainer maybe I should try that!

[2018-03-01 12:55] dimafeng commented on #12
Hi @ildac,
Unfortunately, `LazyContainer` is not released yet. I got stuck with migration from gradle to SBT. Hopefully, I'll release it within next few days.

[2018-03-14 18:46] miketwo opened #15 "containerIpAddress returns the gateway"
The call to `container.containerIpAddress` seems to return the gateway instead of the container's ip address.

Working example (this is modified from the docs):
[code]
It should return something like:
[code]

To see the actual network settings, I ran `docker network inspect <MAIN BRIDGE ID>` while the test was running. The outputs looked like this:
[code]

The workaround seems to be using `contain

[2018-03-15 03:32] dimafeng commented on #12
`LazyContainer` has been released

[2018-03-15 03:32] #12 closed

[2018-03-15 03:40] dimafeng commented on #15
Hi @miketwo,
This logic is implemented in the parent project (https://github.com/testcontainers/testcontainers-java). `containerIpAddress` method is proxied to `org.testcontainers.containers.GenericContainer#getContainerIpAddress` I'll take a look at your problem when I have free time. Meanwhile, you can ask help in the parent project or slack - https://testcontainers.slack.com

[2018-04-04 16:43] miketwo opened #17 "afterStart()/beforeStop() called only once?"
### Test setup:
A suite with multiple tests, using the `ForEachTestContainer` trait and overriding `afterStart()` and `beforeStop()`

### Expected Behavior:
1. Containers are started/stopped before and after each test.
2. `afterStart()` and `beforeStop()` are called before and after each test.

### Actual Behaviour:
1. Works.
2.  `afterStart()` and `beforeStop()` seem to be called only once

### C

[2018-04-04 19:15] miketwo commented on #17
oh wait.... it might be on my side...

[2018-04-20 16:26] miketwo opened #18 "Contributing new containers?"
I'd like to contribute back to this project, but not really sure of where to put the code. I've got a working Hadoop HDFS container, implemented as a trait. See below:

[code]

and example usage:
[code]

I think it might be useful to have additional "pre-baked" images for people to use, but this isn't really implemented in the same way as the others (MySQL, Postgres, Selenium...). Thoughts?

[2018-04-22 15:09] dimafeng commented on #18
Hi @miketwo,
Sorry for the late response. Thank you for sharing this! It's a great idea to have "pre-baked". I'm not sure that having them as a trait is generic enough for all user, because if this case:
- It's a bit hard to combine this mixin with other containers (`container` field would be taken)
- It's going to be harder to tweak some parameters
- There will be 2 ways of using containers: curr

[2018-04-25 18:31] miketwo commented on #18
Sounds good. I'll raise a PR when I get some time.

[2018-04-29 19:10] dimafeng commented on #15
@miketwo it seems (per https://github.com/testcontainers/testcontainers-java/issues/654) this was fixed in testcontainers-java 1.7.1 so it will be available in testcontainers-scala 0.17.0

[2018-04-29 19:11] #15 closed

[2018-04-29 21:10] miketwo commented on #15
Hmmm... maybe. [That fix](https://github.com/testcontainers/testcontainers-java/pull/648) looks like it's for `getDockerHostIpAddress`, which may not(?) be the same as `getContainerIpAddress`. To me, it looks like [the relevant issue upstream is this one](https://github.com/testcontainers/testcontainers-java/issues/264). I'll do some more testing when I get a chance and see.

[2018-05-15 09:14] atais opened #20 "Cannot start spotify/cassandra container"
Hi.

I think I set up the test according to the manual:

[code]

And I can even stop with a debugger in my test, and I can see the container running, for example:

[code]

First I think `exposedPorts` are not working, becuase I expected `9042` and `9060` to be available on `0.0.0.0`, and they are mapped to some stange ports... but continuing...

[code]

So some random ports are open on my computer

[2018-05-16 10:15] atais commented on #20
I managed.
Check:

https://github.com/atais/sbt-scala-docker-cassandra
https://stackoverflow.com/questions/50351318/cant-connect-to-cassandra-docker-container-in-scala-tests

[2018-05-16 10:15] #20 closed

[2018-05-24 16:21] amdelamar opened #22 "Package group is not the same as testcontainers-java"
Noticed the group `com.dimafeng` is still used, while the java lib is using group `org.testcontainers`.

Tried searching for the scala lib in the group as well. https://search.maven.org/#search%7Cga%7C1%7Corg.testcontainers

Are there any plans to publish the scala lib under the same GroupID as the java lib?

[2018-05-25 03:46] dimafeng commented on #22
Hi @amdelamar,

Are you experiencing any problems with current group naming?

[2018-05-25 12:28] amdelamar commented on #22
It gives the impression this Scala project is not part of the Testcontainers organization. It would be nice to put all Testcontainers projects under the same GroupID.

[2018-05-26 20:48] dimafeng commented on #22
@amdelamar thank you for your feedback. Unfortunately, there is no easy way to move this project to `org.testcontainers`. I'm working toward this goal but not sure that it will happen any time soon.

[2018-05-26 20:48] #22 closed

[2018-05-31 11:57] bsideup commented on #22
@dimafeng actually, there is, with Bintray :)

[2018-06-15 12:40] talend-jphautin opened #24 "can not start a container without pulling images"
The current version is not mapping the withPull method available in the Java version.
This make starting a  docker-compose with local images that can not be pulled failing.

[2018-07-10 16:40] dimafeng commented on #24
Released in the latest version

[2018-07-10 16:40] #24 closed

[2018-07-26 15:59] miketwo opened #26 "Example Dockerfile usage"
I'm trying to use a Dockerfile with GenericContainer, but can't seem to get it to work. The unit test shows it using `.withFileFromClasspath()`, but my Dockerfile is not on the classpath. I tried `.withFileFromFile()`, but it errors out with something like:
[code]

Are the other `.withFileFromXXX()`'s supported?

[2018-07-28 19:50] dimafeng commented on #26
Hi @miketwo

All `.withFileFromXXX()` methods should work. Since they are coming from the parent Java lib, If they don't, most probably the problem is in upstream library.

Could you please share more detailed code snippet with the paths you pass to  .withFileFromFile()

[2018-07-31 08:23] mrtnrdl opened #27 "Unable to pull from private Google Container Registry (gcr)"
I'm trying to pull from a private registry in the google cloud with testcontainers. Up until now, I've used short-lived credentials generated via `gcloud docker -a` and it worked flawlessly.
For docker versions > 18.03, this has been deprecated.

I'm now trying to move to use gcloud as a credential helper for docker (according to the documentation [here](https://cloud.google.com/sdk/gcloud/referen

[2018-08-01 00:59] dimafeng commented on #27
Hi @mrtnrdl,
Sorry, I don't have any experience with gcloud. Most probably, this problem is  common for the parent project (testcontainers-java) as well. I would recommend to create an issue in https://github.com/testcontainers/testcontainers-java or ask in https://testcontainers.slack.com

[2018-08-01 01:00] dimafeng commented on #27
Please reopen the issue if you find out that the problem is scala implementation specific.

[2018-08-01 01:00] #27 closed

[2018-08-01 06:40] mrtnrdl commented on #27
Thanks for the quick reply - I'll raise it with the parent project. Thanks! And keep up the good work 👍

[2018-10-03 16:34] SimoneCafiero opened #29 "Wrong readme file content for FixedHostPortGenericContainer"
Within the readme file rather than **FixedHostPortGenericContainer**, **FixedHostPortGenericGenericContainer** (with the typo) is used.

[2018-10-04 00:11] #26 closed

[2018-10-04 17:35] rators commented on #5
any progress on this issue?

[2018-10-05 01:52] dimafeng commented on #5
@rators I saw this project - https://github.com/ChristopherDavenport/testcontainers-specs2 but
I'm not sure if it's what you're looking for.

But if you're interested in contributing specs2 support into the project I'd love to help with that.

[2018-10-05 01:55] dimafeng commented on #29
@SimoneCafiero thank you! I've fixed that.

[2018-10-05 01:55] #29 closed

[2018-11-07 09:31] Ykid opened #33 "cannot connect to mysql containers"
I tried to set up the example in my repo but it does not work. can any one help ? Thanks a lot!

version information
[code]

code
[code]

log
[code]

[2018-11-07 14:01] Ykid commented on #33
fixed: need to add mysql-connector dependency

[2018-11-07 14:01] #33 closed

[2018-11-25 13:56] Ykid opened #35 "quay.io/testcontainers/ryuk does not die after running the tests on multiple containers"
I tried to develop test cases using `MultipleContainers` but it seems that ryuk does not exit after the test finishes. Could anyone help point out what might be the problem ? Thanks a lot !

[code]

[code]

[2018-11-25 14:36] Ykid commented on #35
I saw `org.testcontainers.images.builder.ImageFromDockerfile` would trigger ryuk to shut down. How can I trigger it ?

[2018-11-25 15:13] dimafeng commented on #35
@Ykid it gets stopped after some time after test execution automatically. Try to execute `docker ps` in a minute after your test has finished.
If that problem still persists, could you please share a docker daemon version that you're running your tests on.

[2018-11-26 04:20] #35 closed

[2018-12-05 15:18] BirgerK opened #36 "Set Host-/Containername"
Hi there,

in the testcontainers-java you're able to set nearly any parameters by using the underlying Docker-API: https://www.testcontainers.org/usage/options.html#customizing-the-container
I didn't get this API working with this Scala-Library.  Have you any examples to get this working? Or is it even not implemented?

Thank you
Birger

[2018-12-08 15:47] dimafeng commented on #36
Hi @BirgerK ,

You can use `configure` to modify underlying container.
For example:
[code]

[2018-12-08 15:47] #36 closed

[2019-01-22 00:30] dimafeng opened #37 "Make testcontainers-java `provided`"

[2019-01-25 13:47] bsideup commented on #37
It would be better to move Scala bindings to the main project...

[2019-01-29 10:37] JesusMtnez commented on #5
I've used https://github.com/ChristopherDavenport/testcontainers-specs2 multiple times, it is a very nice integration. You can achieve the same using `specs2` instead of `scalatest`.

But maybe it would be great to unify that in this repository, so `testcontainers-scala` offers both integrations, making easier to keep both libraries up to date.

[2019-02-05 16:08] Vistritium opened #41 "Containers in suites where all tests cases are excluded from run by tags are beeing created."
When there is scalatest test that is using `ForAllTestContainer` and all test cases inside it are excluded from execution because of tagging rule the container is still beeing setup.
I think it is reasonable to assume that if there are no test cases to be executed the container should not be created.

[2019-02-09 22:24] dimafeng commented on #41
Hi @Vistritium,

Do you have a small code snippet that could reproduce the issue?
The behavior that you've explained is implemented in the scope of https://github.com/testcontainers/testcontainers-scala/pull/9, if you provide me with an example I will check why it's not working.

Thank you,
Dmitry

[2019-02-09 22:33] salam-abdul opened #42 "Running gradle test on CircleCI"
The test containers work perfectly when running locally but seem to have an issue spinning up on CircleCI even with machine level access. Testcontainers is able to determine the docker version and machine status but can't seem to deploy a container. Copying some of the debug log and the CircleCI config. Any assistance is appreciated 😄

[code]

[code]

[2019-02-14 13:04] Vistritium commented on #41
Please see this minimal project:
https://github.com/Vistritium/testcontainer-scala-tags
The `sbt test` will execute 0 test but the container is created.

[2019-02-17 22:04] dimafeng commented on #41
@Vistritium thank you! I'll take a look soon

[2019-02-18 14:27] dimafeng commented on #41
@Vistritium
I ran `test` but it does include the test.

[code]

[2019-02-18 16:39] Vistritium commented on #41
Hi @dimafeng,

Sorry I forgot to push one change to `build.sbt`. I have updated the repository. The `sbt test` now produces following result:
[code]

[2019-02-18 17:11] dimafeng commented on #41
Thanks for the updated code. I checked the code that I mentioned earlier `expectedTestCount(args.filter) == 0` and it works as expected giving 0 as a count. However, the output
[code]
is produced by the container initialization and doesn't start the container (to be 100% correct, it starts `quay.io/testcontainers/ryuk:0.2.2` which monitors running containers). If you want avoid having it, you can

[2019-02-18 17:24] Vistritium commented on #41
The `lazy val` solution works!
The issue I had was that we have developers working on Windows and Linux and Windows developers don't have docker environment. So it's not possible to start the `testcontainers/ryuk:0.2.2`. The tests needing docker were tagged and ignored on Windows but it was still crashing.
But with the above solution it works.
Thanks!

[2019-03-18 09:15] goyalnaman opened #43 "Support for OracleContainer?"
The current version does not support Oracle Container.

[2019-04-18 18:47] npersad opened #46 "Local Docker Compose exited abnormally with code 1 whilst running command: up -d"
Hello, I am trying to use the DockerComposeContainer but I keep getting the error below:
I verified that docker-compose up -d works locally.

INFO  🐳 [docker-compose] - Local Docker Compose is running command: pull
INFO  🐳 [docker-compose] - Docker Compose has finished running
INFO  🐳 [docker-compose] - Local Docker Compose is running command: up -d

Exception encountered when invoking run on a ne

[2019-04-20 03:40] dimafeng commented on #46
@npersad could you please share the full log?

[2019-04-20 03:42] dimafeng commented on #43
Hi @goyalnaman ,
You can use a generic container to run Oracle. Are you missing any particular functionality?

[2019-04-20 11:20] janessbach opened #47 "Kafka testcontainers"
not really an issue, just wanted to provide a simple Kafka test container

[code]

[2019-04-20 11:46] bsideup commented on #47
There is KafkaContainer in the upstream Java version of the library, why would you re-implement it in Scala? Just curious :)

[2019-04-20 17:21] dimafeng commented on #47
@janessbach thank you for the contribution! Do you have a simple test case\spec for this container?

@bsideup I'll check how it's different from upstream version. Anyways it's a good start, having a test case will help with potentially moving to the upstream version (if needed).

[2019-04-21 04:26] npersad commented on #46
Hi, here is the log.

[code]

[2019-04-21 14:59] dimafeng commented on #46
@npersad
I tried to run it locally and had a problem running it via testcontainers because of container name conflict. After I removed `container_name: es01` from compose file, it started working.
Could you please try without `container_name: es01`

[2019-04-23 14:32] npersad commented on #46
Hello, sorry for my slow response.  Yes this works.
Thanks much.

[2019-04-23 14:32] #46 closed

[2019-05-02 13:34] mbuccini commented on #47
It works like a charm. Thanks a lot for sharing!

[2019-05-20 06:42] bifunctor opened #51 "Wait for 0.0.0.0:8080 instead of localhost:8080"
Hi all

Wait for 0.0.0.0:8080 instead of localhost:8080

In `GenericContainer` class, it exists a method `waitingFor`, that waits for status code `200` as reponse from the server.
I am running a web application in a container and use `0.0.0.0` as host instead of `localhost`.
When I try to run the `sbt test`, I've got following timeout:

[code]
I am using the test container as the following:

	fina

[2019-05-20 07:10] LMnet commented on #51
Hi @bifunctor !

First of all, I'm trying to run your code but it looks like `sweetsoft/sapmock` is not a public container. Could you provide reproducible code, this will greatly simplify the search for a solution.

Are you sure that you need `FixedHostPortGenericContainer`? By default, testcontainers uses the random port and binds it for you. `FixedHostPortGenericContainer` is not recommended for

[2019-05-20 08:56] bifunctor commented on #51
Hi LMnet

First of all, thanks for your response. I will publish the sweetsoft/sapmock container at this evening, because
I am at work now.

I am using `FixedHostPortGenericContainer`, because I do not know, how to get the random port.
I could not find the property, that provides the port like for Java:
https://www.testcontainers.org/features/networking/
[code]

How to get the random port?

Thanks

[2019-05-20 09:09] LMnet commented on #51
Here is the `GenericContainer` example in the docs: https://github.com/testcontainers/testcontainers-scala#generic-container.

You should add port you want to expose from the container in the `exposedPorts` argument. After that, you will be able to get mapped port with the `mappedPort` method. Like this:
[code]

[2019-05-21 20:07] bifunctor commented on #51
Hi @LMnet
Sorry for the late response. I uploaded the docker image to dockerhub and you can find it here https://hub.docker.com/r/kostonstyle/sapmock. The source code from the project, can be found here https://gitlab.com/sweetsoft/sapmock.

I've changed as you told me as the following:

[code]
But I've still got the message:

`org.testcontainers.containers.ContainerLaunchException: Timed out wait

[2019-05-22 02:50] LMnet commented on #51
I didn't see from the `docker ps` output that your application exposes 8080 port: ports block is empty. Try to check your app.

I suggest you to try to run your application from the command line first, and after that integrate it with testcontainers.

[2019-05-22 08:47] bifunctor commented on #51
Hi @LMnet

I've tried to run the server application from the commnad line and it works.
The container was started with following docker command:

[code]
and I could reached the web application via the browser. But with `sbt test` statement and got the timeout exception.

I am using https://github.com/sbt/sbt-native-packager to publish the docker image on local and as
you can see below, the exposed

[2019-05-22 19:31] bifunctor commented on #51
That is the whole log:

[code]
Look at the end, it starts the container. But it should start before this message appears

`21:19:40.046 [pool-7-thread-6] ERROR 🐳 [kostonstyle/sapmock:latest] - Could not start container`

Thanks

[2019-05-22 20:22] bifunctor commented on #51
I did some research and I've found, that something is not right here:
![Screenshot from 2019-05-22 22-20-06](https://user-images.githubusercontent.com/34632165/58205958-016dc380-7ce0-11e9-81c8-111f6cc111dd.png)
Maybe it helps

[2019-05-23 10:18] LMnet commented on #51
I tried to use your container from the command line:
[code]
Here is `docker ps` output:
[code]
It looks like docker successfully bound 32878 host port to the 8080 container port.

In another terminal I tried to use `wget` to communicate with the app:
[code]
But as you can see from the output, it returns 404. That's why Testcontainers can't start your container.

I didn't deeply dive in your applic

[2019-05-23 16:58] bifunctor commented on #51
You are right. I corrected the error and pushed the new changes to the docker hub https://cloud.docker.com/u/kostonstyle/repository/docker/kostonstyle/sapmock.

I run the container after the change as the following:

docker run -it  -p 32878:8080 kostonstyle/sapmock
Server online at 0.0.0.0 on the port 8080
Press RETURN to stop...

And on the other window, I did:

[code]
As you can see, I've got n

[2019-05-23 17:20] LMnet commented on #51
I think I found the problem. After starting your application is waiting for the user input. When user press enter — application stops. But it will work only with the interactive console mode. Try to run your app in docker from the command line without `-it` flags — it will immediately stop. Testcontainers don't start containers in the interactive mode. So, in case of testcontainers your app will s

[2019-05-23 18:42] bifunctor commented on #51
Wow....Thanks so much for your help. It works!!!!!! 1000 thanks.

[2019-05-23 18:42] #51 closed

[2019-05-23 20:20] dimafeng commented on #51
@LMnet great job! thank you for helping 👍

[2019-06-09 20:16] bifunctor opened #55 "Start container for particular scenario"
Hi all
I would like to know, if it is possible to start a container for particular scenario.

For example:

[code]
I would like to start the container only on the scenarios 2 and 4.

Thanks

[2019-06-09 20:54] dimafeng commented on #55
@bifunctor
I think the easiest solution is to implement your own SuiteMixin based on `ForEachTestContainer` https://github.com/testcontainers/testcontainers-scala/blob/master/src/main/scala/com/dimafeng/testcontainers/TestContainer.scala#L18 and skip container starting based on Tags.

[2019-06-09 20:54] #55 closed

[2019-06-10 03:02] LMnet commented on #55
@bifunctor FYI: testcontainers have a slack: https://slack.testcontainers.org/ If you have questions about library usage, it's better to ask in slack first.

[2019-06-11 07:14] matsluni opened #58 "Release a version with Scala 2.13 Support"
Please release a version with Scala 2.13 support.

[2019-06-11 12:15] dimafeng commented on #58
@matsluni
released. Should take some time to appear in maven.

[2019-06-11 12:15] #58 closed

[2019-06-11 12:26] matsluni commented on #58
Awesome! Thanks a lot! :+1:

[2019-06-18 21:11] #41 closed

[2019-07-30 10:49] aniket-amrutkar opened #66 "How to load container from tar?"
How to load a container from a tar file?
For running directly I do docker load --input <tarFile>
I don't find a way to do this using testcontainers.

[2019-08-12 12:48] zella opened #67 "DockerCompose wait strategy support"
I not found any methods about it in `com.dimafeng.testcontainers.DockerComposeContainer`. Is there supported? Example will be nice!

[2019-08-13 02:47] dimafeng commented on #67
@zella waitStratery is part of `exposedServices` parameter
[code]

[2019-08-13 02:47] #67 closed

[2019-09-30 17:26] caeus opened #76 "Docker compose flags"
Such as -V

[2019-10-01 02:19] LMnet commented on #76
Hi @caeus. Could you please give some more details? What is your use case?

[2019-10-04 06:11] LMnet commented on #66
Looks like this problem already solved in the slack and the issue could be closed.

[2019-10-06 10:16] #66 closed

[2019-10-06 10:17] dimafeng commented on #47
Implemented #60

[2019-10-06 10:17] #47 closed

[2019-10-18 16:52] rodrigodata commented on #33
@Ykid Thank you! This little comment save me ton of time of research. 🚀

[2019-11-02 14:44] LMnet opened #80 "Parity with testcontainers-java containers"
At the current moment, testcontainers-scala is lagging behind java library in terms of containers number and containers configuration options. We need to catch up with the java library.

[2019-11-15 09:20] aesteve opened #81 "Could `val container` by lazy by default?"
Hello, and thanks for your great work! Using it on a daily basis, works like a charm.

Here's the (mini) problem I ran into.

I have a set of standard `test` that are run through the `test` (and thus `build` task) => they're pure unit tests or PBT, they don't need testcontainers (the faster they run the faster the feedback-loop...)

I have a set of `integrationTest` using testcontainers-scala. The

[2019-11-15 09:35] LMnet commented on #81
It could be `def` by default. With this, you will achieve an effect you want. And overall it is a good practice to not have `val`s in the traits. You can create a pull request with this change.

Also, in the near future, we will release a [new API](https://github.com/testcontainers/testcontainers-scala/pull/78) in which you will not have the issue you described.

[2019-11-15 09:47] aesteve commented on #81
Yes obviously `def` works too. I did not propose this since it could be a big breaking change for end-users (having to re-write all their `override val` to `override def` should we create a PR with this? Sounds like a "breaking change" (even though it's better I agree.

We also could argue that the container shouldn't be re-created every time the method is called? (hence really being a lazy val an

[2019-11-15 09:50] LMnet commented on #81
It will not break user code — you can override `def` with `val`.

[2019-11-15 10:44] aesteve commented on #81
Thanks, I forgot about that. Sorry to not submit a PR, but I'm leaving for 3 weeks with no internet access. I'll address this once I'm back.

Thanks for your explanations!

[2019-11-15 18:38] aesteve commented on #81
Got a few minutes to file a PR.

[2019-11-15 21:54] #81 closed

[2019-12-05 15:58] aserrallerios opened #89 "Symbol 'type org.junit.runner.Description' is missing from the classpath"
Hello, just got this error at compilation time from a scalatest suite using `ForAllTestContainer` trait.

The install has been just:

Not sure what to do to fix it. It looks like the junit4 dependency should be included in the tests, but somehow it isn't.

Full error:

[code]

[2019-12-06 03:20] LMnet commented on #89
Hi @aserrallerios! Do you have scalatest artifact in your dependencies?

[2019-12-07 08:56] aserrallerios commented on #89
Yes, just migrating a mock test to a docker one.

[2019-12-09 02:15] LMnet commented on #89
@aserrallerios did you try full rebuild as suggested in the error message? Also, I recommend trying [sbt-dependency-graph](https://github.com/jrudolph/sbt-dependency-graph) to see what's happened with your dependencies.

[2019-12-09 14:13] aserrallerios commented on #89
I fixed it updating to the latest `testcontainers-scala` version and removing all my local stuff. Sorry for the false alarm, but it was a crazy error, wasn't it? Thanks again.

[2019-12-09 14:13] #89 closed

[2019-12-17 22:42] jamesward opened #93 "SSL Cert Invalid for Slack Invite"
[code]

[2019-12-18 08:22] bsideup commented on #93
cc @rnorth

[2019-12-20 14:06] #43 closed

[2019-12-28 21:22] ShahOdin opened #95 "pulsar container"
`testcontainers-java` already supports `Pulsar`: https://github.com/testcontainers/testcontainers-java/pull/713

Would be nice to have a scala layer over it.

[2019-12-30 18:47] radix-aw commented on #80
In particular, it would be nice to be able to specify an [ImagePullPolicy](https://www.testcontainers.org/features/advanced_options/#image-pull-policy).

[2020-01-07 22:02] mcguffin0725 opened #96 "Containers not cleaned up after tests are ran?"
I'm using the docker compose functionality, and after the tests complete I see the dangling containers with `docker ps`.  Is there some kind of cleanup hook I need to call?  I'm running on Mac OSX Mojave, and running the tests through sbt.

[2020-01-10 23:51] JLofgren opened #97 "DockerComposeContainer with "new API""
How can I create a ContainerDef for a DockerComposeContainer in the "new API"?

(Aside: the README says to write on your slack channel with questions, but it appears I need an invitation to log in there.)

[2020-01-11 00:05] dimafeng commented on #97
cc @LMnet

[2020-01-11 00:16] JLofgren opened #98 "Multiple docker-compose files?"
Can I define a DockerComposeContainer from multiple docker-compose files?  In general this is possible with docker-compose.

[2020-01-11 14:34] JLofgren opened #99 "Not recognizing DockerComposeContainer with any upper case identifier as started"
I created a DockerComposeContainer and gave it an explicit `identifier` of `SomeCamelCaseName`.

[code]

When the test runs, the container actually started, but docker identifies it having the all-lowercase name `somecamelcasename...`  So, TestContainers thinks the container never started.

Something along the docker start path is converting the name to lowercase, but the live-checking code doesn'

[2020-01-12 01:49] LMnet commented on #97
@JLofgren thanks for your report! Actually, I forgot to add support of the new API for the `DockerComposeContainer` :sweat_smile: Fixed in #100

About slack — you can find [an invite link](https://slack.testcontainers.org/) in the readme, in the beginning.

[2020-01-12 13:07] LMnet commented on #96
testcontainers-scala doesn't provide any specific logic in this aspect and fully rely on the testcontainers-java. As far as I know, all containers should be killed after tests, even if something goes wrong. It's done by the special ryuk container. Testcontainers-java starts it before all tests.

@bsideup could you help, please? Maybe there is some docker-compose specific behavior?

[2020-01-20 22:42] #97 closed

[2020-01-20 22:43] #37 closed

[2020-01-20 22:45] dimafeng commented on #42
Closing as it can't be reproduced

[2020-01-20 22:45] #42 closed

[2020-01-20 22:46] dimafeng commented on #76
Closing due to no response from the ticket author

[2020-01-20 22:46] #76 closed

[2020-01-20 22:47] #93 closed

[2020-01-20 22:47] #80 closed

[2020-01-20 22:47] #95 closed

[2020-01-23 04:39] jamesward commented on #93
Closed because?  The README still references this URL that does not have a valid cert:
https://github.com/testcontainers/testcontainers-scala/blob/master/README.md

[2020-01-23 13:08] Humblehound commented on #96
I've noticed the same behaviour. The docs mention that containers are shutdown on JVM exit, so that explains why running from `sbt` doesn't shut them down (at least in interactive mode). But the issue still exists when they're ran from Intellij or one-off.

[2020-01-23 13:11] Humblehound opened #103 "Missing modules, release not found"
Hi,

I've noticed that release `0.35.0` is present in the Readme but it's not published on Maven central. The release notes mention that missing modules have been added, I hope that's the case because the `rabbitmq` module is not found for version `0.34.3`.

How are the packages published? Is there a way for me to help getting the modules published? Please let me know once the release is available

[2020-01-23 13:11] bsideup commented on #96
@LMnet hard to say without any info provided (TC's version, what's used, `withReuse` or not, etc etc)

[2020-01-23 14:11] dimafeng commented on #93
@jamesward sorry. Slack channel is maintained by testcontainers-java team. It seems that https://slack.testcontainers.org/ has a self-signed cert. I'd recommend to get in touch with @bsideup or @rnorth

[2020-01-23 15:49] jamesward commented on #93
Thanks.  @rnorth let me know if you'd like a bug filed elsewhere.

[2020-01-24 00:51] dimafeng commented on #103
`0.35.0` should be available now

[2020-01-24 00:51] #103 closed

[2020-01-24 04:32] LMnet commented on #96
@mcguffin0725 @Humblehound can you share minimal reproducible code?

[2020-01-24 08:24] Humblehound commented on #96
Sure, I'll try to publish it by tomorrow

pt., 24 sty 2020, 05:32 użytkownik Yuriy Badalyantc <
notifications@github.com> napisał:

[2020-01-28 12:28] Humblehound commented on #96
After upgrading `testcontainers-scala` to `0.35.0` and `testcontainers` to `1.12.5` on Scala `2.12.10` with Docker Engine 19.03.5 I'm not longer able to reproduce this issue. Note: it does take a second or two for the containers to shutdown, but they do exit gracefully after the test is done

[2020-01-30 11:28] nemoo opened #104 "Get https://quay.io/v2/ request canceled while waiting for connection"
This is more a question about documentation / how to.

In my testcase, I am currently instantiating the container via
`override val container = PostgreSQLContainer(dockerImageNameOverride = "dockerio.bin.t-mobile.at/postgres:11.0")
`

When running testcontainers, I get the exception:
com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"Get https://quay.io/v2/: net/http: re

[2020-01-30 11:45] LMnet commented on #104
Try to create `testcontainers.properties` file in your resources and add `ryuk.container.image` property to it with your custom image address.

[2020-01-30 12:19] nemoo commented on #104
thanks! that works perfectly!

[2020-01-30 12:19] #104 closed

[2020-02-03 20:32] nryanov opened #105 "NPE when using MariaDB"
When i try to test something with MariaDB using testcontainers i get `java.lang.NullPointerException`.

Code to reproduce:
gradle.build:
[code]

Test:
[code]
When i change MariaDB to PostgreSQL or MySQL it works fine.

The full log:

Java equivalent also works fine

[2020-02-04 03:45] LMnet commented on #96
@mcguffin0725 can you try the same steps as @lmyslinski and report about it?

[2020-02-04 13:52] #105 closed

[2020-02-07 04:10] dimafeng commented on #105
0.35.1 has been released

[2020-02-10 15:22] amoralca16 opened #108 "MacOS error scala"
An error like:
`An exception or error caused a run to abort: Login failed for user 'SA'. ClientConnectionId:ea23e4f1-fd45-4b8e-b2c5-292cb4a66f3d
com.microsoft.sqlserver.jdbc.SQLServerException: Login failed for user 'SA'. ClientConnectionId:ea23e4f1-fd45-4b8e-b2c5-292cb4a66f3d
	at com.microsoft.sqlserver.jdbc.SQLServerException.makeFromDatabaseError(SQLServerException.java:259)
	at com.microsoft.s

[2020-02-11 02:55] LMnet commented on #108
Hi @amoralca16 Can you give some more details? How can I reproduce this issue?

[2020-03-03 10:45] vagola opened #110 "Port are not obtainable"
I have used code from example. Mapped port are getting obtained inside test after container already started. Version `0.36.2`

[code]

[2020-03-03 10:57] LMnet commented on #110
Hi @vagola. Could you share the code? Usually, this error happens when you are trying to interact with a container outside of test body.

[2020-03-03 11:05] vagola commented on #110
[code]

[2020-03-03 11:13] LMnet commented on #110
You should use `override val container` instead of `override def container`. With `def` every usage of `container` will create a new instance.

Where did you find this example? I can't find it in the readme.

[2020-03-03 11:23] vagola commented on #110
Thanks! Didn't noticed this small difference from example. TestContainersSuite `container` are defined as method so my override inherited it.

[2020-03-03 11:23] #110 closed

[2020-03-05 13:21] martsv opened #111 "Error using ClickHouseContainer"
I got the following error using ClickHouseContainer.
[code]
Test spec to reproduce error.
[code]
Versions used.
[code]

[2020-03-06 02:57] LMnet commented on #111
@martsv thanks for the report! Fixed here: #112

[2020-03-19 02:55] #111 closed

[2020-05-05 09:11] quiquedev opened #121 "hooks in the new API"
when using the posgresql container and the new testcontainers-scala API get the configuration of the container (jdbcURL, username and password) only when you are running the tests

the `beforeStop()` and `afterStart()` hooks are not there any more

i would like to use the `TestConainterForAll` trait and still being able to run a `after-start` hook to prepare the posgresql database (run some flyway

[2020-05-05 09:15] LMnet commented on #121
Hi @quiquedev. There are `afterContainersStart` and `beforeContainersStop` methods for that.

[2020-05-05 09:40] quiquedev commented on #121
hey @LMnet thanks for the quick answer :) i saw that already but not sure how to use in the following example:

[code]
`Containers` gives you a `forAll` method to iterate over `Stoppable` to manage the containers but what i would like to get in the hook is the jdbdURL, username and password of the postgresql container i defined. how would you do that?

[2020-05-05 09:51] LMnet commented on #121
If you check `TestContainerForAll` implementation you will notice this:
[code]
So, for your case `Containers` type is type alias for the `PostgreSQLContainer` type. And you can implement `afterContainersStart` like this:
[code]

[2020-05-05 10:17] quiquedev commented on #121
does it compile for you? i get:

[code]

[2020-05-05 10:35] LMnet commented on #121
Hm, you are right. Looks like scala compiler can't infer that these types are equivalent.

Anyway, you can use pattern matching:
[code]
I tried this and it works.

[2020-05-05 10:48] quiquedev commented on #121
which version of scalaTest are you using?

[2020-05-05 10:53] LMnet commented on #121
3.0.8. In 3.1.0 some API slightly changes and my code may not compile as-is if you are using newer versions. But it doesn't really matter — that's just what I have at hand and testcontainers could work with any of this version.

[2020-05-05 11:00] quiquedev commented on #121
i see, thanks a lot for your help. with your approach it seems to finally compile

[2020-05-05 12:53] quiquedev commented on #121
https://github.com/testcontainers/testcontainers-scala/pull/122

[2020-05-06 08:28] quiquedev commented on #96
im having the same problem. the `ryuk` container doesn't shutdown after running `sbt test`

my versions:
`scala` 2.13.1
`testcontainers-scala` 0.36.1
`scalatest` 3.1.1
`docker` 19.03,8

[2020-05-08 10:48] albertoadami opened #123 "Containers continue to run also after test completed"
Hello,

I'm getting an issue using test container on a sbt project, here some info:

- Operating System: Mac OS 10.15.4
- Docker version: 19.03.8
- testcontainers-scala version: 0.36.1

The issue is that after all my test are completed some containers continue to run, in my test I'm using a Multiple Container setting with a `waitStrategy` on some endpoint.

After some test executions using the `do

[2020-05-09 02:57] #121 closed

[2020-06-03 07:57] KOnaitis commented on #123
Ran into the same issue on `0.37.0` with Mac and sbt.
Had no issues when running through IDEA & when I would kill sbt process, the containers would clean themselves up, which prompted me to add `fork := true`, which solved the issue.
If I had to guess, I would think it's some concurrency problem.

[2020-07-15 12:08] dope9967 opened #127 "ClassCastException while constructing PostgreSQL container with new API"
I'm trying to use PostgreSQL container with new API with testcontainers-scala `0.38.0` and I'm getting a `ClassCastException`:
[code]
Following code is enough to replicate.
[code]
Same code on `0.37.0` seems to work fine.

[2020-07-16 03:28] LMnet commented on #127
@dope9967 thanks for your report. I have reproduced the error and found a root cause. Fix will be available soon.

[2020-07-17 21:25] dimafeng commented on #127
0.38.1 has been released

[2020-07-17 21:25] #127 closed

[2020-07-17 21:27] dimafeng commented on #108
Closing this ticket as there's no way to reproduce it

[2020-07-17 21:27] #108 closed

[2020-07-17 21:28] #96 closed

[2020-08-07 02:40] wjlow commented on #123
Thanks @KOnaitis fixed it for me too

[2020-08-13 19:18] mvillafuertem opened #129 "Testcontainers hanging when using docker-compose on GitHub actions"
Hi all,

I have problems using test containers with GitHub workflows,  any suggestion of how could I fix it ?

https://github.com/mvillafuertem/scala/runs/981935480?check_suite_focus=true

Thanks!

[2020-08-14 03:41] LMnet commented on #129
Hi @mvillafuertem

Could you try to minimize your example?

[2020-08-17 14:13] mvillafuertem commented on #129
Hi @LMnet

Thanks for your answer. Here is a simple example.

https://github.com/mvillafuertem/testcontainers-scala/actions

[2020-08-18 02:26] LMnet commented on #129
@mvillafuertem
[code]
Looks like github actions are restricted in terms of space. Maybe there is some configuration needed?

[2020-08-18 10:16] mvillafuertem commented on #129
@LMnet I don't think so, if you see this execution you can verify that the GitHub actions correctly execute the docker command.

https://github.com/mvillafuertem/testcontainers-scala/runs/997305748?check_suite_focus=true

I think it may be related to this #1473

[2020-08-18 10:24] LMnet commented on #129
But what about `no space left on device` message?

Actually, I didn't work with github actions and can't help you with this. Also, I'm pretty sure that this issue is not related to testcontainers-scala. It's more about testcontainers-java, because testcontainers-scala is just a wrapper with scala API. I recommend you to try to raise an issue in testcontainers-java repository with the java example.

[2020-08-18 11:04] mvillafuertem commented on #129
Because the Pepe class tries to download 12GB until it runs out of free space, and this is not correct.

I have raised the issue in testcontainers-java repository. Thanks!!

[2020-08-18 11:05] mvillafuertem commented on #129
Because the org.testcontainers.DockerClientFactory class tries to download 12GB until it runs out of free space, and this is not correct.

I have raised the issue in testcontainers-java repository. Thanks!!

[2020-10-01 10:51] cristiani opened #133 "Crash with Docker 2.4 on MacOs Catalina 10.15.7"
After updating to last docker version, 2.40 (released yesterday), my test environment crashes.
[testcontainers-ryuk] WARN org.testcontainers.utility.ResourceReaper - Can not connect to Ryuk at localhost:32770
java.net.ConnectException: Connection refused (Connection refused)
    at java.net.PlainSocketImpl.socketConnect(Native Method)
    at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlain

[2020-10-01 10:53] LMnet commented on #133
Try to explicitly set testcontainers-java to [1.15.0-rc2](https://github.com/testcontainers/testcontainers-java/releases/tag/1.15.0-rc2) version.

[2020-10-01 10:56] cristiani commented on #133
I am using scala, and build.sbt I have dependencies only to  testcontainers-scala-scalatest and testcontainers-scala-postgresql

[2020-10-01 10:58] LMnet commented on #133
It's ok, just add explicit testcontainers-java dependency with it.

[2020-10-01 17:20] bman654 commented on #133
I tried this work-around.  I added this dependency:

[code]

and I still get this error:

[code]

Here's the relevant sbt dependencies:

[code]

[2020-10-01 17:34] bman654 commented on #133
ok seems to be Intellij-specific now.  When I ran `sbt test` I got a different error.  Added more dependencies and it now works from `sbt test`.  I ended up adding all of these dependencies:

[code]

[2020-10-02 02:49] LMnet commented on #133
I want to pay attention to that this is a temporary solution. This issue will be fixed when testcontainers-java released non-rc version. And next testcontainers-scala version will be released with the new testcontainers-java version.

[2020-10-02 07:24] danieletorelli commented on #133
@LMnet do you have any ETA

@LMnet do you have any ETA for this by any chance?

[2020-10-02 07:46] LMnet commented on #133
@danieletorelli no, I don't have it. You can subscribe to testcontainers-java/scala releases and will receive a notification when a new version will be released.

[2020-10-03 00:43] barryoneill commented on #133
There's a workaround documented here:
https://github.com/testcontainers/testcontainers-java/issues/3291

Disable "Use gRPC FUSE for file sharing" until the new version is released.

[2020-10-08 11:04] andersbohn commented on #133
Thanks guys, using "TestcontainersJavaVersion = "1.15.0-rc2" worked 👍
only I also had to monkeypatch `com.dimafeng.testcontainers.PostgreSQLContainer` to be able to use a different postgres image (like before, where it worked with just the image name in a string):
```PostgreSQLContainer(dockerImageOverride = Some(DockerImageName.parse(s"kartoza/postgis:11.5-2.8").asCompatibleSubstituteFor("postgre

[2020-10-15 00:18] idontusenumbers commented on #133
@andersbohn can you share your code? I'm new to scala and am trying to replicate that workaround for MySQLContainer.

[2020-10-15 06:56] andersbohn commented on #133
sry, cannot, only some pieces or if you have concrete questions maybe:
from `build.sbt`:
[code]
from the test:
[code]

[2020-10-18 21:04] AvaPL opened #134 "Kafka container not waiting for full startup"
Minimal test to reproduce the issue:
[code]
This code throws
`
java.lang.IllegalStateException: You should start Kafka container first
	at org.testcontainers.containers.KafkaContainer.getBootstrapServers(KafkaContainer.java:89)
	at com.dimafeng.testcontainers.KafkaContainer.bootstrapServers(KafkaContainer.scala:25)
	at links.kafka.KafkaExampleTest.$anonfun$new$1(KafkaExampleTest.scala:10)
`

It ha

[2020-10-20 17:46] jbwheatley opened #135 "Add support for AWS sdk v2 for localstack containers"
The v2 sdk is a major rewrite of the java sdk (see here https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/welcome.html). It would be great to be able to use testcontainers-scala to test integrations with this new sdk, in the same way demonstrated here for testcontainers-java: https://www.testcontainers.org/modules/localstack/

Happy to put together a PR!

[2020-10-20 17:54] dimafeng commented on #135
Hey @jbwheatley,
Curious if it would make sense to implement in testcontainers-java so it becomes available in scala out of the box?

[2020-10-20 18:17] jbwheatley commented on #135
I think part of the problem with that is that the localstack module has dependency `"com.amazonaws" % "aws-java-sdk-s3" % aswVersion % "provided", so if I update my sdk version to v2, (which is a completely different import `"software.amazon.awssdk" % "s3" % v2Version`), then you get `NoClassDefFoundError`s.

The underlying java container already has the API necessary to set up my tests, but it wo

[2020-10-22 00:42] dimafeng commented on #135
Oh, I see what you mean! I thought the problem is in the java version and the scala version just inherits it.
A PR would be appreciated!

[2020-11-03 15:49] #135 closed

[2020-11-05 22:17] mithunatri opened #137 "Mapped port can only be obtained after the container is started"
Hi,

I am trying to use PostgreSQLContainer to perform some integration tests. To try out the library, I am replicating the examples provided in the readme, but I keep running into this error.

[code]

The logs indicate that the container has started and Postgres is waiting for requests.

I did some further debugging and found that the issue is essentially a Precheck in ContainerState (clearly ind

[2020-11-06 14:09] mithunatri commented on #137
To add, this works without any issue with the new API spec.

Closing this issue as it is exactly same as #134 (but for PostgresSQLContainer).

[2020-11-06 14:09] #137 closed

[2020-11-12 20:09] pbylicki opened #139 "Address image compatibility checks in Scala API"
Hi,
As it was mentioned in the comments under #133, switching to version 1.15.0 of testcontainers-java introduces image compatibility checks, that require images with non-default names to be explicitly set as compatible:
https://github.com/testcontainers/testcontainers-java/releases/tag/1.15.0-rc2
It can be easily handled using Java API by using `DockerImageName`-based constructors for Containers,

[2020-11-13 04:41] dimafeng commented on #139
@pbylicki I think "change dockerImageNameOverride type to Option[DockerImageName]" is the right option

@LMnet, what do you think?

[2020-11-13 04:45] LMnet commented on #139
I think it's ok, but we should not forget about backward compatibility. Old style constructors should be supported too but marked as deprecated (like in testcontainers-java).

[2020-11-24 08:59] sebarys opened #145 "Couldn't get mapped port for localstackv2 container"
Hi,

I was trying to use localstackV2 container in my tests. Unfortunately during attempt of setup it I'm not able to retrieve lambda mapper port properly.

Used dependencies
[code]

Example test:
[code]
result in exception during calling `endpointOverride(container.endpointOverride(Service.LAMBDA))`:
[code]

Does anyone have an idea why it is happening? When I will put `Thread.sleep(50000)` befor

[2020-11-24 14:20] dimafeng commented on #145
@jbwheatley do you know what that could be?

[2020-11-24 15:03] jbwheatley commented on #145
I'm not sure.. its a very thin wrapper around the java container, so I would think its an underlying problem there 🤔

[2020-11-24 15:23] sebarys commented on #145
Are you able to verify if you see the same issue when running such test snippet?

[2020-11-24 15:41] #139 closed

[2020-11-24 15:42] dimafeng commented on #133
0.38.6 was released with 1.15.0

[2020-11-24 15:42] #133 closed

[2020-11-24 16:47] jbwheatley commented on #145
@sebarys I did manage to recreate it. Changing this line `override def container: LocalStackV2Container = LocalStackV2Container(services = Seq(Service.LAMBDA))` to be a `val` rather than a `def` fixed it for me.

Also good point about the class path issues with aws-v2 https://github.com/testcontainers/testcontainers-java/issues/1442#issuecomment-694342883

@dimafeng should a note in the readme be

[2020-11-25 07:59] sebarys commented on #145
Hi,

Thanks it helped! :)

Regarding documentation: did you know by chance why testcontainers `reuse` feature is not documented at all?  I know that it is not stable API, but using it if you don't use hardcoded the same identifiers in all tests could significantly reduce tests times.

[2020-11-25 17:26] sebarys commented on #145
Anyway @jbwheatley LocalstacvV2 module is not mentioned in docu https://github.com/testcontainers/testcontainers-scala#modules I think it would be worth here to mention it

[2020-11-25 21:25] jamesward opened #146 "Easier Usage With Play / Other Servers"
When I use this project with servers that need configuration from a started testcontainer, it is a little tricky to setup the starting, configuring, stopping of the container along with the server.  Here is what I came up with in the case of Play & ScalaTest:
[code]

I.e. I couldn't find a way to combine `GuiceOneAppPerSuite` with `TestContainerForAll` or `ForAllTestContainer`.

[2020-11-26 15:19] dimafeng commented on #146
Hi @jamesward, I don't have experience with Play. Would you consider contributing a module that covers your use case?

[2020-11-26 16:54] jamesward commented on #146
Yeah, I'll try to take a stab at that.

[2020-11-27 23:41] er1c opened #147 "SBT Plugin"
I would like to use this like an SBT plugin, similar to: https://github.com/geekity/sbt-embedded-postgres

This would allow for using typesafe-config type of setups and using random local ports/etc as part of the sbt-test

[2020-12-02 18:59] markarasev commented on #137
In my case changing `override def container = PostgreSQLContainer()` by a `val` solved the problem (actually the examples use a `val` but IntelliJ overrides with a `def` by default).

[2020-12-02 19:00] markarasev commented on #134
Had a similar issue with Postgresql as linked by Mithunatri.
In my case changing `override def container = PostgreSQLContainer()` by an `override val` solved the problem (actually the examples use a `val` but IntelliJ overrides with a `def` by default).

[2020-12-17 13:32] maxpoulain opened #150 "Can't execute command inside MySQLContainer using execInContainer"
Hello,

I'm not sure it's really an issue as I just started to use `TestContainers` but I'm trying to execute a command to load dump in MySQL container using execInContainer as following:
[code]

and It's not working, I got this, that indicates that the command is not good:
[code]
I also tried a lot of different things for this row: `container.execInContainer("mysql", "-utest", "-ptest", "staging"

[2020-12-17 14:22] dimafeng commented on #150
@maxpoulain try this approach https://www.testcontainers.org/modules/databases/jdbc/#using-a-classpath-init-script

[2020-12-17 15:47] maxpoulain commented on #150
Thank you for your help !

It's working so this is solved but now I have another problem when the script is executed I got the following error whereas in the shell it's working well...

[code]

Do you think it's a problem coming from my `sql` script ?

Sorry if my questions are not really relevant !

Thanks for your help,

Maxime

[2020-12-17 16:42] dimafeng commented on #150
Yes, I think the problem is here `Table 'test.DBS' doesn't exist`

[2020-12-17 19:18] #150 closed

[2020-12-22 15:32] s4nk opened #151 "Allow specifying full image in KafkaContainer"
At the moment `KafkaContainer` only allows to specify the Confluent platform version (which under the hood translates into a version of the "confluentinc/cp-kafka" image). In `org.testcontainers.containers.KafkaContainer` the two constructors used by `com.dimafeng.testcontainers.KafkaContainer` are now deprecated, and the only one available is `public KafkaContainer(final DockerImageName dockerIma

[2020-12-23 17:06] kittsville commented on #98
`DockerComposeContainer` can take a list of docker compose files, so you define your tests like so:
[code]

[2021-01-21 12:31] pgorin opened #160 "Is there a way to share the same single container instance between suites?"
Hi, first of all, thank you for your work, I use it extensively :)
I wll be glad if you can guide me with this issue!

Regards,
Pato.

[2021-01-22 02:54] LMnet commented on #160
Hi @pgorin. At the current moment, there is no supported way for doing this. It's because scalatest doesn't provide any functionality for sharing data like this between tests.

But there is a bit hacky way for sharing containers: you can start containers and just don't stop them. Testcontainers will eventually close all started containers after your tests. There is a special Ryuk container for tha

[2021-01-26 09:49] pgorin commented on #160
Hi Yuriy, thank you for your reply.
What do you mean about a special Ryuk container? Can I still using TestContainerForAll approach or I have to perform custom before and after routines?

Again, thank you!

[2021-01-26 09:54] LMnet commented on #160
https://hub.docker.com/r/testcontainers/ryuk

No, you can't use `TestContainerForAll` or any other built-in traits for that approach. You will need to manually start containers and don't stop them after tests. Also, you will need to somehow share containers between tests (through some global state).

[2021-03-02 05:28] yaohuacheng opened #167 "How to make MySQLContainer and JdbcDatabaseDelegate work together?"
I'm scala beginner.
when I use:
`    ScriptUtils.runInitScript(new JdbcDatabaseDelegate(mysqlContainer.container, ""), "sql/schema-notification.sql")`
I encountered a error:
Type mismatch:
Required: JdbcDatabaseContainer[SELF] forSome {type SELF: JdbcDatabaseContainer[SELF] }
Found: MySQLContainer[_]

[2021-03-11 00:14] nacorti opened #168 "Is reuse.enable supported?"
We have a heavy container setup, and would like to be able to reuse the same containers for all of our tests. I notice that the java lib provides `testcontainers.reuse.enable`, but when I try to turn on reuse via config file, it fails silently.

Using testcontainers-scala 0.38.4, which should pull in testcontainers-java [1.14.3](https://github.com/testcontainers/testcontainers-java/releases/tag/1.

[2021-03-11 02:12] dimafeng commented on #168
Hi @nacorti, you can check this for more details https://github.com/testcontainers/testcontainers-scala/issues/160

[2021-03-11 02:12] #168 closed

[2021-03-18 16:22] sergeda opened #169 "How to get access to internal containers when using MultipleContainers?"
If we use one container in the test we can use
```container.cassandraContainer.getMappedPort(9042)```
to get port of the container.
How can we do the same if we need to start multiple docker images?

[2021-03-18 17:34] #169 closed

[2021-03-22 11:44] eladgazit opened #170 "Hive container"
any plans for hive container any time soon?

[2021-03-22 12:10] #170 closed

[2021-03-23 16:02] tpetrucciani opened #171 "With MUnit / TestContainersForAll, containers start even if the suite is excluded via categories"
Using MUnit and `TestContainersForAll`, if a test suite is skipped via filtering by category (https://scalameta.org/munit/docs/filtering.html#group-test-suites-with-categories), the containers start up anyway.

It looks like `TestContainersForAll` only checks that the suite has at least one test without the `Ignore` tag, but does not consider other ways the suite (or all tests in it) could be skip

[2021-03-23 20:54] dimafeng commented on #171
@tpetrucciani thanks for reporting it. I'm not an expert in MUnit but by looking at the documentation, I'd assume that it should work out of the box.
[code]
Wouldn't it return an empty `Seq` that will get into this `if` statement - https://github.com/testcontainers/testcontainers-scala/blob/master/test-framework/munit/src/main/scala/com/dimafeng/testcontainers/munit/TestContainersForAll.scala#L46

[2021-03-24 03:49] LMnet commented on #171
Maybe @psisoyev could help?

[2021-03-24 10:48] tpetrucciani commented on #171
Hi, thanks for the quick response.

I'm not sure if I was clear: I meant specifically excluding whole test suites from running using the include/exclude categories feature in https://scalameta.org/munit/docs/filtering.html#group-test-suites-with-categories (actually a JUnit feature I think).

This is useful e.g. to distinguish unit from integration test suites and run only unit or only integration

[2021-03-24 11:03] LMnet commented on #171
@tpetrucciani it looks like you have the biggest context about this problem. Maybe you could try to fix it?

[2021-03-24 12:48] tpetrucciani commented on #171
👍  I'll try and have a look at it.

[2021-03-31 12:15] sergeda opened #172 "Can't pull Mockserver image"
When I'm trying to run my test I'm getting
`Caused by: org.testcontainers.containers.ContainerFetchException: Can't get Docker image: RemoteDockerImage(imageName=jamesdbloom/mockserver:mockserver-mockserver-5.5.4, imagePullPolicy=DefaultPullPolicy())
	at org.testcontainers.containers.GenericContainer.getDockerImageName(GenericContainer.java:1286)
	at org.testcontainers.containers.GenericContainer.

[2021-03-31 13:34] dimafeng commented on #172
@sergeda
Can you try to run `docker pull jamesdbloom/mockserver:mockserver-mockserver-5.5.4` in your terminal? Your issue looks like not related to testcontainers-scala.

[2021-03-31 16:53] sergeda commented on #172
@dimafeng That command returns the same error. But if I change `testcontainers-scala-mockserver` version to "0.38.3" it works fine, just container too old. Is it possible to specify what version of container you want to use?

[2021-03-31 17:47] dimafeng commented on #172
I think your old version is just cached on your local machine. I'd suggest to fix the docker pull issue in your system.

[2021-04-09 22:39] jsurls opened #174 "Testcontainers Dependency missing Jackson Annotations"
I've opened this Issue on the testcontainers-java repo:
https://github.com/testcontainers/testcontainers-java/issues/3972

In that repo, the current version of ```org.testcontainers:testcontainers:jar:1.15.2:test``` is missing the Jackson Annotations dependency. This impacts this repo testcontainers-scala for versions ```0.38.6+```

When running a test locally I get:
[code]

As a workaround I have

[2021-04-10 12:33] jsurls commented on #174
Jackson Annotations was omitted intentionally discussed in testcontainers/testcontainers-java#3972

Closing this ticket as no action is forthcoming.

[2021-04-10 12:33] #174 closed

[2021-04-14 11:55] YikSanChan opened #175 "Could not find a valid Docker environment"
Hi,

I have a minimal test.

[code]

When I run it, it throws exception:

[code]

My pom includes:

[code]

What is going on? Thanks

[2021-04-14 14:33] dimafeng commented on #175
It seems that the library can't access the docker client on your machine.

[2021-04-14 14:52] YikSanChan commented on #175
@dimafeng I wonder why is that the case? In terminal I am able to run `docker ps` and it lists the containers running.

[2021-04-14 15:01] dimafeng commented on #175
Can you share more details about your system. Does this https://github.com/testcontainers/testcontainers-java/issues/3834 look like your case?

[2021-04-14 15:19] YikSanChan commented on #175
@dimafeng I am not using Apple Silicon.

Here's my docker info.

[code]

[2021-04-20 12:06] fsanaulla commented on #175
Same here. Take a look on my CICD [build](https://github.com/fsanaulla/spark-http-rdd/runs/2390257531?check_suite_focus=true)

[2021-04-23 14:29] fsanaulla commented on #175
Btw, it was fixed after refacroting

[2021-04-23 15:05] YikSanChan commented on #175
@fsanaulla What kind of refactoring you did?

[2021-04-23 15:09] fsanaulla commented on #175
@YikSanChan everything was done in this [commit](https://github.com/fsanaulla/spark-http-rdd/commit/4f4d6220b3547f478331465040be04b1225189b7).
Long story short:

- moving away from docker compose to single containers
- more precise dependencies
- prebuild image

[2021-05-04 16:51] SarpongAbasimi opened #176 "Test container not picking up migration file."
Hey 👋,

I am working on a Scala project and would like to use Testcontainers to test database migration.
The problem I am currently facing is that the migration file is not being picked up by Testcontainers.

      Class.forName(container.driverClassName)
      val connection = DriverManager.getConnection(
        container.jdbcUrl,
        container.username,
        container.password
      )
Do

[2021-05-05 07:50] LMnet commented on #176
Hi @SarpongAbasimi

Could you give more details? How do you create your containers? Where are your migrations? How do you expect them to work?

[2021-05-05 08:14] SarpongAbasimi commented on #176
@LMnet I create my containers using

[code]
Maybe I am not clear on how Testcontainers works, If you could explain it to me that will be great.

[2021-05-05 08:30] LMnet commented on #176
@SarpongAbasimi this code does not seem related to the testcontainers and to your question. At this moment I could only suggest you read the documentation of testcontains-scala and testcontainers-java.

[2021-05-05 09:13] SarpongAbasimi commented on #176
@LMnet  the code is from here
Link - https://github.com/testcontainers/testcontainers-scala

Have a look at the `Postgres section`.

I have also gotten testcontainers to work this morning.

[2021-05-05 09:14] #176 closed

[2021-05-13 23:20] solarmosaic-kflorence commented on #146
I agree, the [new API syntax](https://github.com/testcontainers/testcontainers-scala#new-api) makes it very awkward to use `TestContainersForAll` with a service that is also used by all tests. This is because of the requirement to now use `withContainers` on each test block to access the containers. With the old `ForAllTestContainers`, we could just use `container.start()` and then reference the c

[2021-05-14 05:12] LMnet commented on #146
This is the [one of the recommended by the scalatest docs](https://www.scalatest.org/user_guide/sharing_fixtures) way of sharing fixtures. Nothing new here from the testcontainers side. `withContainers` is needed because testcontainers manage the lifecycle of the containers. You can find more information about this in the scalatest docs.

About described use case: you can use `afterContainersStart

[2021-05-14 16:44] solarmosaic-kflorence commented on #146
@LMnet yes, this can be solved with using `var` but that is a general code smell in Scala that I would prefer to avoid. With the old API syntax, you are free to start the containers when it's appropriate and use them when it's appropriate without having to use a `var` or a a fixture in every test block. For our use case anyways, it's just a lot of added complexity that we don't need.

Anyways, I k

[2021-05-17 03:16] LMnet commented on #146
The main problem of the old API is that containers are mutable (you can't distinguish between started and not started containers), which is a code smell too. New API provides another set of trade-offs here. With an old API, you have mutable containers and unsafe creation, but overall API is easier. New API is a bit more complex and cumbersome sometimes but provides more safety in terms of containe

[2021-05-17 17:43] solarmosaic-kflorence commented on #146
@LMnet definitely understand the problem the new API was addressing, and you are right that it does solve that problem with some extra complexity. I guess it's a trade off between a simpler API with the potential for implementors to use is incorrectly, vs a more complicated API that is harder to use incorrectly. I do think the use-cases for `TestContainersForAll` specifically could be simplified b

[2021-05-24 13:52] eladgazit opened #182 "how can I create a Schema Registry test container and connect it to a Kafka test container?"

[2021-06-26 00:22] solarmosaic-kflorence opened #184 "What is the point of `ContainerDef`?"
How am I supposed to use `ContainerDef`? How is it better than just constructing a container itself? Looking at the code, and through use-cases at our company, it seems that at best using `ContainerDef` creates extra boilerplate we have to maintain in two places (the container settings), and at worst we can't use it at all because we need access to `Container.configure` in order to configure the u

[2021-06-26 00:50] solarmosaic-kflorence commented on #184
Actually I think `ContainerDef` might make more sense for _consumers_ of `testcontainers-scala` to use, rather than being part of the `testcontainers-scala` implementation. For example, let's say I wanted to use the `PostgreSQLContainer`. I could make my own `ContainerDef` for that container that encapsulates whatever settings that make sense for my use-case, and then internally we could use that

[2021-06-26 00:50] #184 closed

[2021-06-27 04:15] LMnet commented on #184
You can find a detailed discussion in the PR: https://github.com/testcontainers/testcontainers-scala/pull/78

[2021-06-28 17:46] solarmosaic-kflorence commented on #184
Yeah I saw that discussion some months ago. It's just that nothing in the `TestContainersForAll` API actually forces you to use `ContainerDef` -- you can just use the `Container` itself if you wanted to. So I was trying to understand the benefit.

[2021-08-20 10:45] nebtrx opened #186 "RabbitMQ Container doesn't preload exchanges configuration if provided"
Hi fellows

First, I want to congratulate you guys for the hard work on this.

Having said that, I was using `testcontainers-scala-rabbitmq` for spinning up a container for test purposes when I noticed the exchange configuration I was trying to preload in the containers was not working.

The following is the container bootstrap code I used to provide a `test-exchange` exchange

[code]

I  used the

[2021-08-21 01:45] dimafeng commented on #186
Thanks for reporting! Please push a PR when you have a chance

[2021-08-23 15:48] nebtrx commented on #186
Done @dimafeng ! Workflow is awaiting approval

[2021-08-31 08:53] nebtrx commented on #186
Closing this one since #187 addressed it

[2021-08-31 08:53] #186 closed

[2021-09-06 09:42] mikhailchuryakov commented on #182
All you need that is:
1. Create Kafka and Schema Registry containers in the same Network
2. Pass kafka bootstrap server to Schema Registry environment

I don't pretend to the perfect usage of testcontainers (so if anyone can review it and notice my mistakes that will be great). I prefer to create a generic (in case Schema Registry, Zookeeper and etc) container and pass it to the custom wrapper wit

[2021-09-06 23:23] dimafeng commented on #182
@mikhailchuryakov thanks for sharing! Would you like to contribute this as a PR?

[2021-09-07 15:37] mikhailchuryakov commented on #182
@dimafeng Yes, sure! But I need a little time.

[2021-09-18 10:19] LLCampos commented on #5
I'll have a go at this one. ;)

[2021-09-19 13:58] #182 closed

[2021-09-25 10:22] LLCampos commented on #5
Unfortunately, after having a look, it seems that this would take me more time than I'm willing to spend on it. :disappointed:

[2021-10-02 22:23] roodnejm commented on #175
Hi, if it can help, i had the same issue as mentioned in the first post if i used a version > 0.38.5 on macOs.
With 0.38.5, I had another error about testcontainers/ryuk:0.3.0 image not found (solution is to used latest version of testcontainer according to a testcontainer-java issue  but not possible in my case due to the "could not find a valid Docker environment" error.

So in the end, I used a

[2021-10-11 16:08] mdotson opened #195 "Upgrade to testcontainers 1.16.0"
It looks like Mac users get Ryuk issues with 1.15.3 (the version that's on current release branch): https://stackoverflow.com/a/69074370/13104708

Could we upgrade testcontainers to 1.16.0 @dimafeng ?

[2021-10-11 17:39] dimafeng commented on #195
Hi @mdotson, there are problems with 1.16.0 - https://github.com/testcontainers/testcontainers-scala/pull/190
Would you like to try to figure out how to solve it?

[2021-10-22 00:27] dzx11 opened #197 "Image pull policy not applied in GenericContainer"
Hi, it seems that imagePullPolicy is not being used when creating a new GenericContainer. Is it possible for this to get fixed? Or is there something I'm missing here?
https://github.com/testcontainers/testcontainers-scala/blob/5b26c3b8e5f06ef8d13339fbe49ad7c6d69c02ef/core/src/main/scala/com/dimafeng/testcontainers/GenericContainer.scala#L80

[2021-10-27 08:11] SusurHe opened #198 "testcontainers-scala-mysql error for mac Apple silicon"
when i use`testcontainers-scala-mysql` on MacBookPro2021 return the error:
[code]

My Silicon: M1Pro

[2021-10-28 02:56] #195 closed, assigned to nobody

[2021-10-28 07:18] cuong-dang opened #200 "ContainerLaunchException with Docker Compose V2"
I encountered the following error for `sbt test`.
[code]
Solved by unchecking the option Use Docker Compose V2 in Docker General settings.

[2021-10-28 14:05] #198 closed, assigned to nobody

[2021-11-01 02:53] LMnet commented on #197
Hi @dzx11

Thanks for the report. Would you mind creating a pull request? It looks like a straightforward issue.

[2021-11-09 14:51] bwiercinski opened #201 "support of weaver test framework"
support of [weaver test framework](https://github.com/disneystreaming/weaver-test)

this framework works best when a tested code is based on cats effect.

i'm keen to contribute

[2021-11-10 05:16] LMnet commented on #201
Hi @bwiercinski !

We are ready for contributions and could help you with this.

A few points I want you to have in mind:
1. New API approach (from the current scalatest integration) will be more friendly for the weaver.
2. It looks like the weaver can share resources across suites. It's a great feature for the testcontainers. Scalatest doesn't have a normal way of sharing containers across suites

[2021-11-10 15:57] drewboardman commented on #200
I'm also seeing this issue, but downgrading the version of `docker-compose` didn't fix the problem.

[2021-11-14 18:57] #197 closed

[2022-01-06 05:49] Chrisss93 opened #204 "ResourceReaper too aggressive for parallel tests with singleton container"
This might be more for testcontainers-java, but I'm using this library in a setup unique to the scala ecosystem so I thought I'd ask this here first. Using the scalatest framework, I'm trying to run multiple tests in the same test-class in parallel but using the _same_ container instance. This is a common singleton pattern - which I've reproduced with a toy example:

[code]

I am invoking the test

[2022-01-06 06:19] LMnet commented on #204
As a simple workaround, you could disable `ResourceReaper` through the `TESTCONTAINERS_RYUK_DISABLED` environment variable.

About your approach for running multiple test cases in the single test class. Are you sure that scalatest can handle this? As far as I know in parallel mode scalatest could run multiple test classes in parallel, but not multiple test cases in the single class. At least this

[2022-01-06 06:54] Chrisss93 commented on #204
Thanks for the quick response @LMnet! I did forget to mention I'm already running this setup with ryuk disabled. A bit further up on the log I see...
[code]
to confirm this. ryuk is not actually responsible for reaping testcontainers in this example. The ResourceReaper is simply creating its own docker-client to kill of the testcontainers once the `GenericContainer#stop()` method is called. The qu

[2022-01-06 07:06] LMnet commented on #204
@Chrisss93 I can assume that the current scalatest integration is not ready for test cases parallelism. At the current moment I can't really help with this issue because I never use scalatest in such mode, and also I don't know much about scalatest and maven integration. I suggest you look at the `ForAllTestContainer` implementation.

[2022-01-10 18:02] Chrisss93 commented on #204
Thanks @LMnet , looks like the problem is more that the scalatest's `ParallelTestExecution` trait to enable parallel execution of individual test-cases doesn't mix all that well with testcontainers' `ForAllTestContainers` trait. I've managed to accomplish this goal of  **re-usable containers across parallel-executed tests** by defining my own trait re-implementing the most minimal degree of `ForAl

[2022-01-14 12:46] benkio opened #205 "Missing `withFileSystemBind` in `GenericContainer`"
Hi there,
I'm trying to use a `GenericContainer`, move jar on it, run the command etc etc
Then I wish to get the output result of such a command that writes on a specific container's path. On `testcontainers-java` I see that the `GenericContainer` has `withFileSystemBind` method that links a host's directory to a container's one.
https://github.com/testcontainers/testcontainers-java/blob/master/co

[2022-01-15 03:28] dimafeng commented on #205
Yes, it's definitely worth adding. I'd really appreciate if you submit a PR with that fix.

[2022-01-29 17:43] jausmann-wc opened #207 "Support Couchbase Scopes and Collections"
Adding support for scopes and collections will enable using the latest Scala Couchbase sdk. It may also require supporting Role Based Access Control for Couchbase users. testcontainers-java will likely need to be updated as well.

[2022-01-29 19:02] dimafeng commented on #207
hi @jausmann-wc thanks for reporting this! would you be interested in contributing this feature?

[2022-02-01 23:06] jausmann-wc commented on #207
Sure, starting with the testcontainers-java part.

https://github.com/testcontainers/testcontainers-java/pull/5016

[2022-02-14 11:19] LeonardMeyer opened #210 "Installing an elasticsearch plugin"
Hi,

I'm trying to install [this plugin](https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-kuromoji.html) but could not find a way to do that using `ElasticsearchContainer` unfortunately, so I tried this :

[code]

But this gives me :
[code]
I'm not sure how this is all wired but `/usr/share/elasticsearch/bin/elasticsearch-plugin` is indeed at the root of my container and I ma

[2022-02-14 11:25] LeonardMeyer commented on #210
Ugh, always when you post... Had to it it like this obviously :
`command = Seq("bin/elasticsearch-plugin", "install", "analysis-kuromoji")`

Bugt now I get this error : `/bin/bash: /dev/tcp/localhost/9200: Cannot assign requested address`

[2022-02-14 14:42] LeonardMeyer commented on #210
So I added a wait strategy and it seems fine :

[code]

But now I get :

[code]

Seems like the install went fine but the container could not start and I don't have the error...

[2022-02-17 10:26] #210 closed

[2022-02-20 09:10] nemoo opened #212 "K3s Module"
Not an issue but more of a question.

testcontainers-java now features a module for lightweight Kubernetes clusters called K3s: https://github.com/testcontainers/testcontainers-java/blob/master/modules/k3s/src/main/java/org/testcontainers/k3s/K3sContainer.java

The module documentation can be found here: https://www.testcontainers.org/modules/k3s/

Will this module also be wrapped in testcontainer

[2022-02-20 15:15] dimafeng commented on #212
Hi @nemoo, thank you for your question! This project is driven by the community and java modules are getting added to the scala version as the community needs it.

If you'd like to contribute support for this module, it would be huge help for this project!

[2022-02-20 15:16] #205 closed

[2022-02-20 15:16] #175 closed

[2022-02-21 09:52] nemoo commented on #212
Great, I will give it a go.

Is there a contribution guide? When I tried `sbt publishLocal` it only created the scala 2.12 versions, not the scala 2.13 version.

[2022-02-22 02:37] dimafeng commented on #212
Sorry, unfortunately I don't have a contribution guide but you can check out several recent PRs that add support for various containers:
https://github.com/testcontainers/testcontainers-scala/pull/126/files
https://github.com/testcontainers/testcontainers-scala/pull/211/files
https://github.com/testcontainers/testcontainers-scala/pull/208/files

[2022-03-02 10:21] hosnimed commented on #200
Same problem for me despite downgrading docker-compose version from V3 -> V2.
It succeeds in local test with sbt, but needs to do the docker compose manually before the first launch.
The problem remains in Jenkins CI, any suggestions please?

[2022-03-03 07:59] nemoo commented on #212
This requires also a bump to testcontainers java 1.16.3.  I guess that would be a different pull request?

[2022-03-03 09:12] nemoo commented on #212
Also, in the original java k3s module test, a special log consumer Slf4jLogConsumer is used:
https://github.com/testcontainers/testcontainers-java/blob/master/modules/k3s/src/test/java/org/testcontainers/k3s/OfficialClientK3sContainerTest.java

[code]

Do we have any examples on how the use of .withLogConsumer() should be ported over to scala?

[2022-03-03 15:16] dimafeng commented on #212
It's fine if you bump it here

I think it'd look like this:
[code]
example https://github.com/testcontainers/testcontainers-scala/pull/126/files#diff-19e736fb3cde3f8c030b9fc3639026ec28e9bd61c8caa82096dfeb69e9f918f3R29

[2022-03-09 11:12] rogern opened #213 "testcontainers-scala-mockserver fails to download default version of jamesdbloom/mockserver since v0.38.6"
After version 0.38.5 it seems that behaviour has changed in how versions should be specified and mockserver hasn't been  updated.

It fails on:
`com.github.dockerjava.api.exception.NotFoundException: Status 404: {"message":"manifest for jamesdbloom/mockserver:mockserver-mockserver-5.5.4 not found: manifest unknown: manifest unknown"}`
because the name is duplicated. It should be:
`jamesdbloom/mock

[2022-04-16 12:26] DenisNovac opened #218 "Privileged mode support"
Hi everyone. Java TestContainers [supports](https://github.com/testcontainers/testcontainers-java/issues/234) the privileged containers run. It might be really handy to use testcontainers on Fedora and other SELinux workstations. As far as i see, in this wrapper we only have `privilegedMode` function in `Container` which is just checking the underlying container. I wonder if there is a way to set

[2022-04-26 06:08] necosta commented on #200
I believe the issue has been solved with the above change. Please review.

[2022-04-27 05:46] pan3793 commented on #200
@dimafeng Do you have a plan to release 0.40.7?

[2022-04-27 17:02] dimafeng commented on #200
Sorry for the delay. Just released

[2022-05-24 13:38] matthughes opened #224 "Support Munit 1.x"
There are some binary compatible issues in https://github.com/scalameta/munit/releases/tag/v1.0.0-M1 but as it appears they are source compatible meaning we'd need to recompile against the milestone.

[2022-06-02 16:21] vishalovercome commented on #224
Lets use the latest version of MUnit - 1.0.0-M4 as there are some fixes in between which we want to make use of

[2022-06-08 11:11] tpetillot commented on #167
I've had to cast container:
`container.container.asInstanceOf[org.testcontainers.containers.JdbcDatabaseContainer[_]]`

Really weird that `JdbcDatabaseDelegate` constructor take the raw type.

[2022-07-15 11:08] kamilkloch opened #231 "DockerComposeContainer does not pull latest version of the images"
Despite
[code]
the latest version of the images is not being pulled. I need to run `docker compose pull` manually.

[2022-07-17 15:50] benkio opened #232 "MySQLContainer Random Port"
Hi,
I write because, while trying to set up an Integration test with `MySQLContainer`, I noticed the port used is always random instead of the standard `3306`. I attach a screenshot, in this case the random port assigned is `55040`, here is the link to the code:

https://github.com/benkio/myTelegramBot/blob/ca5ee6db33455b65d3a49ebc70ab10ebbbd64d7f/botDB/src/it/scala/com/benkio/botDB/ITSpec.scala

[2022-07-17 17:29] benkio commented on #232
I've just found a workaround by dynamically setting the DB Port via Environment Variable:
https://github.com/benkio/myTelegramBot/commit/67b57585c136a303b9d12511e0f1ad2a1ce177d8

[2022-07-18 02:50] LMnet commented on #232
@benkio it's not a bug, it's an intended behavior: https://www.testcontainers.org/features/networking/
[code]

[2022-07-18 10:51] benkio commented on #232
Then I guess my solution is not actually a workaround, but rather the way to go.
I Close the issue

[2022-07-18 10:51] #232 closed

[2022-08-09 13:31] davidZal1992 opened #233 "Reuse container between test suits"
Hello, I have a few containers running and I don't want to rerun the containers during test suits to speed up my tests.
There is a way to reuse the containers over the all-suite tests?

[2022-08-11 19:39] rpiotrow opened #234 "localstack-v2 require aws sdk 1.x and 2.x"
If we define `test-containers-localstack-v2-aws-only2.sc` as:
[code]
then there is compile error:
[code]
When we add dependency to aws 1.x (making `test-containers-localstack-v2-aws-1-and-2.sc`):
[code]
it will compile:
[code]

It is not very intuitive that `testcontainers-scala-localstack-v2` requires both AWS sdk major versions to work and I didn't find any information about that.

[2022-09-19 09:40] albertoadami opened #235 "ContainerFetchException when running in Gitlab CI"
Hello to everyone,

I'm running some sbt/scala project that's using the test-container-scala library. In particular I'm using the following dependencies:

[code]

Locally I'm able to run all the integration correcly, when I try to use the Github CI I'm getting this error here:

[code]

Any idea about the issue?

[2022-10-12 21:08] nefilim opened #237 "Containers fails to start running on GHA"
I have tried [filing an issue at `testcontainers-java`](https://github.com/testcontainers/testcontainers-java/issues/5978) but they won't look at it since we use `testcontainers-scala`.

I thought it only potentially happens when running concurrently but we have one branch failing consistently now, not running concurrently with other actions.

[2022-10-12 22:07] nefilim commented on #237
Ok I see what's going on here - when looking at the failed container log output, it's only receiving STDERR output, for some reason STDOUT has not been connected?

Seems pretty odd for the container to log the message that's being waited for twice in the LogMessageWaitStrategy once on STDERR and once on STDOUT?

snippet from a working run:

[code]

vs a broken run:

[code]
[code]

[2022-10-13 13:24] nefilim commented on #237
@kiview any thoughts? especially with the new information I found? Feels a little bit like a race condition...

[2022-11-03 05:14] dbuschman7 commented on #234
+1

[2022-11-28 11:38] sv3ndk opened #239 "Consider removing old API syntax from documentation"
I am a newcomer to this project, I find it very useful, thanks for working on it.

When reading the documentation, I was puzzled at first to first read code snippets based on the `ForEachTestContainer` and `ForAllTestContainer` syntax, then to discover a new API based on `TestContainerForAll` and `TestContainerForEach` was now the recommended approach.

I understand the new  API syntax has been ar

[2022-11-28 12:53] kiview commented on #237
@nefilim Thanks, I'll re-open the issue at `testcontainers-java` with the new information.

Regarding logging on STDOUT and STDERR for PotgreSQL, that's unfortunately how their image works. It is in parts documented in the discussion around this PR for more flexible PostgreSQL Wait Strategy:
https://github.com/testcontainers/testcontainers-java/pull/5501#issuecomment-1187418552

[2022-11-29 17:23] dimafeng commented on #239
@sv3ndk Agree! Any help would be appreciated!

[2022-11-30 08:55] sv3ndk commented on #239
Great! I'll make time for that this week-end